@model VACompWeb.Areas.Identity.Pages.Account.RegisterModel





<div class="text-center">
    <h1 class="display-4">Compensation Calculator</h1>
    <div class="row align-items-center">


        <div class="col-md-8">
            @*<form asp-route-returnUrl="@Model.ReturnUrl" method="post">*@
            <form>

                <div class="form-group">
                    <label asp-for="Input.DependencyStatus"></label>
                    <input asp-for="Input.DependencyStatus" items="Html.GetEnumSelectList<DepStatus>()" class="form-control" />
                    <span asp-validation-for="Input.DependencyStatus" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.DisabilityRating"></label>
                    <input asp-for="Input.DisabilityRating" class="form-control" />
                    <span asp-validation-for="Input.DisabilityRating" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.AddChildUnder18"></label>
                    <input asp-for="Input.AddChildUnder18" class="form-control" />
                    <span asp-validation-for="Input.AddChildUnder18" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.AddChild18Plus"></label>
                    <input asp-for="Input.AddChild18Plus" class="form-control" />
                    <span asp-validation-for="Input.AddChild18Plus" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.AidSupport"></label>
                    <input asp-for="Input.AidSupport" class="form-control" />
                    <span asp-validation-for="Input.AidSupport" class="text-danger"></span>
                </div>


                <button type="submit" class="btn btn-primary">Calculate</button>

                <div class="form-group">
                    <label>Total</label>
                    <input @*asp-for="Input.CompTotal"*@ class="form-control" />

                </div>



            </form>
        </div>
    </div>
</div>

