
@{
    ViewData["Title"] = "Resources";
}

<div class="text-center">
    <h1 class="display-4">Resources</h1>
    <p> Please use the links below to find out more information about the VA Claims disability process.</p>
    <p> <a href="https://www.va.gov/disability/about-disability-ratings/">About Disability Ratings</a>.</p>
    <p> <a href="https://www.va.gov/disability/effective-date/">Effective Dates</a>.</p>
    <p> <a href="https://www.va.gov/disability/compensation-rates/">Disability Compensation Rates</a>.</p>
    <p> <a href="https://www.va.gov/disability/survivor-dic-rates/">Survivor DIC Rates</a>.</p>
    <p> <a href="https://www.va.gov/disability/parent-dic-rates/">Parents DIC Rates</a>.</p>
    <p> <a href="https://www.va.gov/disability/va-claim-exam/">VA Claim Exam (C&P Exam)</a>.</p>
    <p> <a href="https://www.va.gov/disability/get-help-filing-claim/">Get help filing a claim</a>.</p>
</div>

